*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    width: 50%;
    margin: auto;
    background-color:rgb(255, 143, 143);
    height: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.debug .container{
    border: 2px dashed red;
    height: 250px;
}
.container1{
    width: 50%;
    margin: auto;
    background-color:rgb(247, 243, 58);
    height: 300px;
    margin-bottom: 20px;
}
.container2{
    width: 50%;
    margin: auto;
    background-color:rgb(126, 206, 252);
    height: 500px;
    margin-bottom: 10px;
}
.inner-float1{
    float: left;
    border:solid 5px royalblue;
    width: 25% ;
    height: 100px;
    border-left: none;
    border-right: none;
}
.inner-float2{
    float: left;
    border: solid 5px royalblue;
    width: 50%;
    height: 100px;
}
